body {
  /* background: url('images/background.jpg');  */
  max-width: 80%;
  margin-inline: auto;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  padding: 18px;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  background: rgb(119, 146, 155); /* White box for main content */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2em;
  margin: 2em auto;
  max-width: 800px;
  text-align: center;
}


nav ul, nav li{
  display: contents;
}


nav {

  display: flex;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
  justify-content: space-evenly; /*space links evenly*/
  align-items: center; /*vertically aligm items*/
  margin-bottom: 1.5em; 
  border-bottom: 1px solid rgba(200, 200, 200, 0.7);
}

/* Style for navigation links e.g. Home */
nav a{
  flex: 1; /* Make each link take equal space */
  text-align: center; /* Center-align the text */
  text-decoration: none; /* Remove underlines */
  color:rgb(221, 206, 199); /* Change the color of nav */
  padding: 0.5em;
  font-weight: normal; /* Default font weight */
  border-bottom: 4px solid transparent;
  transition: border-color 0.3s ease;
}
nav a:hover {
  border-bottom-color: var(--color-accent, lightgray); /* Accent color on hover */
  background-color: rgba(173, 170, 170, 0.262); /* the nav links background color*/
}

nav a.current {
  font-weight: bold; /* Highlight current link with bold text */
  border-bottom-color: gray; /* Thicker border for the current page */
} 

:root {
  --color-accent: rgba(255, 64, 89, 0.814); /*changing accent color*/
  color-scheme: light dark;
}

[data-theme="light"] {
  color-scheme: light;
  --background-color: rgba(16, 198, 137, 0.868);
  --text-color: #36454F;
}
/* For nav */
[data-theme="light"] nav {
  border-bottom: 1px solid #3a3a3a;  /* Darker border line for light mode */
}

[data-theme="light"] nav a {
  color: #1a1a1a; /* Dark text for light theme */
}

[data-theme="light"] nav a.current {
  border-bottom-color: #444444;
}


/* chaging color for the text color for project */
[data-theme="light"] h1 {
  color: #253341; 
}

[data-theme="light"] h2 {
  color: #d47a3e; 
}

[data-theme="light"] .projects {
  color: #272424; /* Change to desired text color */
}

/* For contact */
[data-theme="light"] label, .contact-page p {
  color: #272424; /* Change to desired text color */
}

/* For resume */
[data-theme="light"] .resume-page h3, 
[data-theme="light"] .resume-page p, 
[data-theme="light"] .resume-page time, 
[data-theme="light"] .resume-page li {
    color: black; /* Change to desired text color */
}



[data-theme="dark"] {
  color-scheme: dark;
}


.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  
}

.color-scheme select {
  font-size: 100%;
  background: rgb(161, 201, 250);
  color: var(--text-color);
}